@import "../../../styles/variables.scss";

.home-page {
  font-family: "Inter";
  color: $neutral-primary;
  height: calc(100vh - 89px);
  .search {
    display: flex;
    justify-content: center;
    column-gap: 4px;
    .ant-input-affix-wrapper {
      background-color: $white-smokes;
      border-radius: 4px;
      height: 40px;
      .ant-input {
        font-family: "Inter";
        font-weight: 400;
        line-height: 20px;
        font-size: 14px;
      }
    }
    .ant-select-selection-item {
      font-weight: 400;
    }
    &-btn {
      background-color: $orange !important;
      color: $white-smokes;
      border-radius: 4px;
      &:hover {
        background: $orange;
      }
    }
  }
  .filter {
    display: flex;
    justify-content: space-between;
    margin: 32px 0 20px 0;
    &-left {
      .ant-select-selector {
        border-radius: 4px;
      }
      .ant-select-selection-placeholder {
        color: $neutral-primary !important;
        font-size: 14px;
        font-weight: 600;
        font-family: "Inter";
      }
      .ant-select-selection-item {
        font-weight: 600;
      }
    }
    &-right {
      .ant-btn {
        font-family: "Inter";
        font-weight: 600;
        border-radius: 4px;
        &-icon {
          svg {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  .count-jobs {
    font-size: 12px;
    margin-bottom: 16px;
  }
  .jobs {
    display: grid;
    grid-template-columns: 435px 1fr;
    gap: 24px;
    height: 83.25%;
    .job-list {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      overflow-y: scroll;
      position: relative;

      &.shadow-top-bottom {
        box-shadow: inset 0 15px 15px -10px rgba(0, 0, 0, 0.2),
          inset 0 -15px 15px -10px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease;
      }

      &.shadow-top {
        box-shadow: inset 0 15px 15px -10px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease;
      }

      &.shadow-bottom {
        box-shadow: inset 0 -15px 15px -10px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease;
      }
      .job-card {
        display: flex;
        border: 1px solid $neutral;
        border-radius: 4px;
        padding: 16px;
        justify-content: space-between;
        &:hover {
          cursor: pointer;
        }
        &-left {
          .job-title {
            display: flex;
            margin-bottom: 12px;
            .title {
              font-weight: 700;
              font-size: 20px;
              &-sub {
                font-weight: 600;
                color: $primary;
                font-size: 14px;
                margin-left: 4px;
              }
            }
          }
          .company {
            display: flex;
            margin-bottom: 12px;
            &-logo {
              width: 40px;
              height: 40px;
              border-radius: 8px;
            }
            &-info {
              margin-left: 12px;
              align-self: center;
              &-name {
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
              }
              &-state {
                margin-top: 2px;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
              }
            }
          }
          .job-keys {
            display: flex;
            flex-wrap: wrap;
            row-gap: 4px;
          }
        }
        &-right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .job-mark {
            text-align: right;
          }
          .update-time {
            font-size: 12px;
            color: $suva-grey;
            text-align: right;
          }
        }
        &-active {
          border-color: $orange;
          border-left-width: 5px;
        }
      }
    }
    .job-detail {
      border: 1px solid $neutral;
      border-radius: 4px;
      padding: 16px;
      height: 95.5%;
      overflow-y: scroll;
      &-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
      }
      &-content {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 12px;
        ul {
          margin-block-start: 0;
          margin-block-end: 0;
          padding-inline-start: 25px;
        }
      }
      &-name {
        display: flex;
        .company-logo {
          height: 84px;
          width: 84px;
          border-radius: 8px;
          align-self: center;
        }
        .job-title {
          margin-left: 12px;
          align-self: center;
          .title {
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            &-sub {
              font-weight: 600;
              color: $primary;
              font-size: 14px;
              margin-left: 4px;
            }
            .tooltip {
              margin-left: 4px;
            }
          }
          .company-info {
            display: flex;
            color: $grey;
            font-size: 14px;
            font-weight: 400;
            &-name {
              border-right: 1px solid $white-smokes;
              padding-right: 8px;
            }
            &-state {
              padding-left: 8px;
              .icon {
                margin-right: 4px;
              }
            }
          }
        }
      }
      &-action {
        display: flex;
        margin-top: 16px;
        .application-btn {
          flex: 1;
          background: $orange !important;
          color: $white-smokes;
          height: 40px;
          &:hover {
            border-color: $orange !important;
          }
        }
        .save-btn {
          width: 40px;
          height: 40px;
          margin-left: 16px;
          background-color: $white-smokes;
          border-color: transparent;
        }
      }
      &-keys {
        margin-top: 24px;
      }
      &-about,
      &-tasks,
      &-qualify {
        margin-top: 24px;
        .job-detail-duration {
          display: flex;
          flex-direction: column;
          row-gap: 16px;
          margin-top: 24px;
          .apply-duration {
            display: flex;
            width: 272px;
            &-icon {
              background-color: $white-smokes;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &-detail {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-left: 12px;
              &-title {
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                color: $grey;
              }
              &-time {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: $neutral-primary;
              }
            }
          }
        }
      }
      &-company {
        margin-top: 17px;
        padding-top: 17px;
        border-top: 1px solid $neutral;
        &-intro {
          display: flex;
          justify-content: space-between;
          margin-bottom: 18px;
          &-left {
            display: flex;
            .company-logo-intro {
              height: 64px;
              width: 64px;
              border-radius: 8px;
              align-self: center;
            }
            .company-info {
              align-self: center;
              margin-left: 7px;
              &-name {
                font-size: 24px;
                font-weight: 700;
                line-height: 32px;
                margin-bottom: 7px;
              }
              &-detail {
                display: flex;
                color: $grey;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                column-gap: 12px;
                &-state,
                &-employ {
                  display: flex;
                  .icon {
                    height: 18px;
                    width: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 4px;
                  }
                }
              }
            }
          }
          &-right {
            .view-btn {
              font-family: "Inter";
              color: $orange;
              border-color: transparent;
              box-shadow: unset;
            }
          }
        }
      }
    }
  }
}

.ant-tooltip-arrow::before {
  background-color: $matterhorn !important;
}

.ant-tooltip-inner {
  font-family: "Inter";
  align-self: stretch;
  font-size: 12px;
  font-weight: 400;
  background-color: $matterhorn !important;
}
