@import "./../../../styles/variables.scss";

.customEditor {
  .change-value {
    font-weight: 400;

    strong {
      color: $dark-crimson;
      text-decoration: line-through;
    }
  }

  .ql-disabled {
    cursor: not-allowed;
    background-color: $soft-shadow-black;

    .ql-editor {
      display: flex;
      pointer-events: none;
      cursor: not-allowed;
      padding: 7px 11px;
      align-items: center;
      strong {
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }

  strong {
    font-weight: 400;
    color: black;
    font-size: 14px;
  }

  p {
    color: $bright-blue;
    font-weight: 400;
  }

  .ql-container {
    min-height: 40px;
    border-radius: 4px;
    border-color: $soft-grey;

    .ql-editor {
      padding: 0;
      p {
        line-height: 24px;
        padding: 7px 11px;
      }
    }
  }

  .mutiple-input-quill {
    .ql-container {
      height: 21px;
    }
    .ql-disabled {
      background-color: transparent;
    }
    .ql-snow {
      border-radius: 0px;
      border: none;

      .ql-editor {
        font-size: 14px;
        padding: 0;
      }
    }
  }
}
