@import "../../styles/variables.scss";

.background-application-form-review {
  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $neutral-grey;
    height: 64px;

    .back-btn {
      display: flex;
      align-self: center;
      padding: 18px 24px;
      color: $dark-navy-blue !important;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }
  }

  .content-review {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-title {
      margin: 24px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 736px;
      &-left {
        .job-title {
          font-size: 20px;
          font-weight: 700;
          line-height: 28px;
        }
        .title-sub {
          font-size: 14px;
          line-height: 20px;
          font-weight: 600;
          color: $bright-blue;
        }
        .revised-history {
          margin-top: 4px;
          display: flex;
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          &-title {
            color: $charcoal-grey;
            margin-right: 6px;
          }
          &-version {
            display: flex;
            column-gap: 6px;
            align-items: center;
            &:hover {
              cursor: pointer;;
            }
            .caret-down-icon {
              display: flex;
              height: 16px;
              width: 16px;
              background-color: $bright-orange;
              border-radius: 50%;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }

    .info-candidate {
      display: flex;
      justify-content: space-between;
      border: 1px solid $neutral-grey;
      padding: 24px 40px;
      border-radius: 12px;
      width: 656px;
      margin-bottom: 12px;
      .info-detail {
        display: flex;
        .candidate-avatar {
          border-radius: 8px;
          align-self: center;
          object-fit: contain;
        }
        .candidate-description {
          margin-left: 12px;
          align-self: center;
          .title {
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
          }
          .candidate-info {
            &-education {
              svg {
                margin-right: 4px;
              }
              display: flex;
              align-items: center;
              margin-top: 4px;
              font-size: 12px;
              font-weight: 500;
              line-height: 16px;
              color: $charcoal-grey;
            }
          }
        }
      }
      .view-btn {
        align-self: center;
        &:hover {
          color: $dark-navy-blue;
          border-color: $neutral-grey;
        }
      }
    }

    .form-application {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      border: 1px solid $neutral-grey;
      padding: 32px 40px;
      border-radius: 12px;
      width: 656px;
      // height: calc(100vh - 407px);
      height: calc(100vh - 431px);
      overflow-y: auto;

      .double-input {
        display: flex;
        column-gap: 24px;

        .input-prefix {
          flex: 1;
        }
      }

      .resume {
        &-title {
          font-size: 14px;
          font-weight: 600;
          line-height: 16px;
        }

        &-content {
          margin-top: 12px;
          border: 1px solid $neutral-grey;
          border-radius: 4px;
          display: flex;
          justify-content: space-between;
          padding: 12px 14px;

          &-left {
            .resume-name {
              font-size: 14px;
              font-weight: 600;
              line-height: 20px;
            }

            .resume-upload-date {
              font-size: 12px;
              font-weight: 400;
              line-height: 16px;
              color: $silver-grey;
              margin-top: 4px;
            }
          }

          &-right {
            align-self: center;
          }
        }
      }
    }
  }

  .action {
    display: flex;
    width: 736px;
    justify-content: space-between;
    margin: 20px 0;

    &-left {
      display: flex;
      align-self: center;
    }

    &-right {
      display: flex;
      column-gap: 24px;

      .reject-btn {
        width: 90px;
        border-color: $tomato-red;
        color: $dark-crimson;
        &:hover {
          color: $dark-crimson;
          border-color: $tomato-red;
        }
      }
      .select-btn {
        width: 185px;
        background-color: $dark-navy-blue;
        &:hover {
          background-color: $dark-navy-blue;
        }
      }
    }
  }
}

.modal-application-reject,
.modal-application-success {
  .modal-content-custom {
    img {
      width: 162px;
      margin-bottom: 8px;
    }
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    align-items: center;

    .title {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      line-height: 32px;

      &-content {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        margin-top: 16px;
      }
    }
  }

  .modal-footer-custom {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    column-gap: 24px;

    .confirm-btn,
    .view-guideline-btn,
    .cancel-btn {
      font-size: 14px;
      height: 48px;
      font-weight: 600;
    }

    .view-guideline-btn {
      background-color: $bright-orange;
      &:hover {
        background-color: $bright-orange;
      }
    }

    .cancel-btn {
      flex: 1;
      border-color: $cool-grey;
      &:hover {
        border-color: $cool-grey;
        color: $dark-navy-blue;
      }
    }

    .confirm-btn {
      flex: 1;
      background: $crimson-red !important;
    }
  }
}
.modal-application-phone,
.modal-application-email,
.modal-application-schedule,
.modal-application-guideline {
  .modal-content-custom {
    flex-direction: column;

    .title {
      justify-content: center;
      display: flex;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      line-height: 28px;

      &-content {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 16px;
        .steps {
          display: flex;
          flex-direction: column;
          &-item {
            .link-btn {
              height: unset;
              padding: 0;
              color: $dark-navy-blue;
              text-decoration: underline;
              font-weight: 400;
              margin-left: 4px;
            }
          }
        }
        .double-input {
          display: flex;
          justify-content: space-between;
          column-gap: 24px;
          .input-default {
            flex: 1;
          }
        }
        .notice {
          color: $charcoal-grey;
          sup {
            vertical-align: text-bottom;
            font-size: 14px;
          }
          .link-btn {
            height: unset;
            padding: 0;
            color: $bright-blue;
            text-decoration: underline;
            font-weight: 400;
          }
          &-form {
            font-family: "Inter";
            font-style: italic;
            color: $earthy-gold;
            sup {
              vertical-align: text-bottom;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .modal-footer-custom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 40px;
    column-gap: 24px;

    .ok-btn,
    .cancel-btn {
      font-size: 14px;
      font-weight: 600;
    }

    .send-btn,
    .ok-btn {
      width: 80px;
      background-color: $bright-orange;
      &:hover {
        background-color: $bright-orange;
      }
    }

    .cancel-btn {
      border-color: $cool-grey;
      &:hover {
        border-color: $cool-grey;
        color: $dark-navy-blue;
      }
    }
  }
}

.visible {
  display: none !important;
}

.menu-version {
  &-item {
    .item-date {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $dusty-grey;
    }
    .item-version {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $dark-navy-blue;
    }
  }
}

.menu-step {
  &-item {
    .step-item {
      width: 200px;
      display: flex;
      justify-content: space-between;
      &-left {
        display: flex;
        svg {
          margin-right: 8px;
        }
      }
      &-right {
        background-color: $forest-green;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        text-align: center;
        align-self: center;
        img {
          height: 12px;
          width: 12px;
        }
      }
    }
  }
}
