@import "../../../styles/variables.scss";

.input-prefix {
  .title {
    text-align: start;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 4px;

    span {
      margin-left: 2px;
      color: $bright-blue;
    }
  }

  .ant-input {
    border-radius: 4px;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
  }

  .ant-input-affix-wrapper {
    border-radius: 4px;
    height: 40px;
    font-size: 14px;

    .ant-input-prefix {
      font-weight: 400;
    }

    .ant-input {
      color: $bright-blue;
      font-weight: 400;
    }

    &:hover {
      border-color: $neutral-grey;
    }

    &:focus-within {
      border-color: $neutral-grey;
      box-shadow: none;
    }
  }

  .ant-picker {
    &-input {
      color: $bright-blue;
      font-weight: 400;

      input {
        font-size: 14px;
      }
    }

    &:hover {
      border-color: $neutral-grey;
    }

    &:focus-within {
      border-color: $neutral-grey;
      box-shadow: none;
    }
  }

  .text-area-input {
    border: 1px solid $neutral-grey;
    border-radius: 4px;
    height: 76px;
    overflow-y: scroll;
    .customEditor {
      padding: 0 11px;
      &:first-child {
        padding-top: 7px;
      }
    }

    &-disabled {
      background-color: $soft-shadow-black;
    }
  }



}

.ant-picker-cell-selected .ant-picker-cell-inner {
  border-radius: 50% !important;
  background-color: $bright-orange !important;
}

.ant-picker-footer {
  display: none;
}

.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-radius: 50% !important;
}

.ant-picker-cell-hover .ant-picker-cell-inner {
  border-radius: 50% !important;
}