$neutral: #dbdbdb;
$neutral-primary: #0f172a;
$ghost-white: #f4f4f6;
$white-smoke: #f1f1f1;
$white-smokes: #f5f5f5;
$mid-gray: #5e616e;
$orange: #ff7710;
$pale-orange: #fff3eb;
$suva-grey: #8f8f8f;
$grey: #666666;
$primary: #0a5cd8;
$matterhorn: #525252;
$dark-grey: #a3a3a3;
$light-grey: #d9d9d9;
$white: #ffffff;
$floral-white: #fff8f3;
