$neutral: #dbdbdb;
$neutral-primary: #0f172a;
$ghost-white: #f4f4f6;
$white-smoke: #efeeed;
$white-smokes: #F5F5F5;
$mid-gray: #5e616e;
$orange: #ff7710;
$pale-orange: #fff3eb;
$suva-grey: #8f8f8f;
$grey: #666666;
$primary: #0a5cd8;
$matterhorn: #525252;
