@media screen and (max-width: 576px) {
  .dashboard-layout {

    .header {
      .header-left {
        button {
          display: none;
        }
      }

      .header-right {
        width: 130px;

        .drawer-menu-icon {
          display: inline-block;
          border: none;
          outline: none;
        }
      }
    }

    .content {
      .nav-bar {
        display: none;
      }

      .content-detail {
        padding: 16px;
        box-sizing: border-box;

        .home-page {

          .search {
            .search-btn {
              display: none;
            }

            .auto-completed-custom {
              display: none;
            }

            .input-search-mobile {
              display: flex;
            }
          }

          .jobs {
            grid-template-columns: 1fr;
            height: 100%;

            .job-list {
              overflow-y: unset;
            }
          }

          .filter {
            .filter-left {
              display: none;
            }
          }
        }

        .job-detail {
          display: none;
        }
      }
    }
  }

  .dashboard-drawer {
    .ant-drawer-header-title {
      justify-content: end;
    }

    .ant-drawer-body {
      .ant-menu {
        border-inline-end: none;
        width: 100%;
      }

      .drawer-side-bar {
        .ant-menu-item {
          margin-left: 0;
          margin-right: 0;
          width: 100%;
        }
      }
    }

  }

  .drawer-search-jobs {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    .ant-drawer-header {
      .ant-drawer-header-title {
        flex-direction: row-reverse;
        font-size: 18px;
        line-height: 28px;

        .ant-drawer-close {
          margin-right: 0;
        }
      }
    }

    .ant-drawer-body {
      padding: 20px 16px 0 16px;


      .search-job-content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .ant-input-affix-wrapper {
          background-color: $off-white;
          border-radius: 4px;
          height: 40px;
        }
      }


    }
  }
}