@import "./variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}

.ant-tooltip-arrow::before {
  background-color: $matterhorn-grey !important;
}

.ant-tooltip-inner {
  font-family: "Inter";
  align-self: stretch;
  font-size: 12px;
  font-weight: 400;
  background-color: $matterhorn-grey !important;
}

.empty-layout {
  margin-block: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ant-checkbox-wrapper {
  &:hover {
    .ant-checkbox-inner {
      border-color: $bright-orange !important;
    }
  }
  &.ant-checkbox-wrapper-disabled {
    &:hover {
      .ant-checkbox-inner {
        border-color: $neutral-grey !important;
      }
    }
  }
}

.ant-btn {
  &:disabled {
    opacity: 0.6;
  }
}
