@import "./../../styles/variables.scss";

.content {
  display: flex;

  .nav-bar {
    height: calc(100vh - 65px);
    border-inline-end: 1px solid $neutral-grey !important;
  }

  &-detail {
    width: 100%;
    height: calc(100vh - 89px);
    padding: 24px;
    padding-bottom: 0;
  }
}

@import './reponsive.s.scss'