@media screen and (max-width: 576px) {
  .background-login {
    background-size: 170%;
    background-position: bottom right;

    .header {
      img {
        margin-left: 16px;
      }
    }

    .login {
      box-sizing: border-box;
      padding: 0 16px;
      margin-left: 0;
      width: 100%;
    }
  }
}