@import "../../styles/variables.scss";

.custom-radio {
  .ant-radio-inner {
    width: 18px;
    height: 18px;
  }

  .ant-radio-checked {
    .ant-radio-inner {
      border-color: $bright-orange !important;
      background-color: $pure-white !important;
      &::after {
        background-color: $bright-orange;
      }
    }
  }

  &:hover {
    .ant-radio-inner {
      border-color: $bright-orange !important;
    }
  }
}

.ant-radio-wrapper-checked {
  &::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: $bright-orange;
    border-radius: 50%;
    transform: translate(50%, 50%);
  }
}
