@import "../../../styles/variables.scss";

.input-default {
  .title-input {
    text-align: start;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 4px;
  }
  .optional {
    color: $charcoal-grey;
  }
  .select-country {
    height: 40px;
    .ant-select-selection-item {
      display: flex;
      align-items: center;
    }
    .ant-select-selector {
      &:hover,
      &:focus-within {
        border-color: $neutral-grey !important; // Remove hover border color
        box-shadow: none !important; // Remove any shadow on hover
      }
    }
  }
  .ant-input-group {
    .ant-select {
      .ant-select-selector {
        border-start-start-radius: 4px !important;
        border-end-start-radius: 4px !important;
      }
    }
    .ant-input {
      border-start-end-radius: 4px;
      border-end-end-radius: 4px;
    }
  }
  .ant-input {
    border-radius: 4px;
    font-family: "Inter";
    font-size: 14px;
    height: 40px;
    &:hover {
      border-color: $neutral-grey;
    }
    &:focus {
      border-color: $neutral-grey;
      box-shadow: none;
    }
  }
  .ant-input-wrapper {
    .ant-input-group-addon {
      border-start-start-radius: 4px;
      border-end-start-radius: 4px;
      background-color: unset;
      font-size: 14px;
    }
  }
  .ant-input-affix-wrapper {
    border-radius: 4px;
    font-size: 14px;
    height: 40px;
    .ant-input-prefix {
      font-weight: 400;
    }
    .ant-input {
      font-weight: 400;
      color: $dark-navy-blue;
      height: unset;
    }
    &:hover {
      border-color: $neutral-grey;
    }
    &:focus-within {
      border-color: $neutral-grey;
      box-shadow: none;
    }
  }
  .msg-error {
    font-size: 12px;
    font-weight: 500;
    color: $crimson-red;
  }
}

.menu-select {
  font-size: 14px;
  .search-select {
    height: 40px;
    border-bottom: 1px solid $neutral-grey;
    border-radius: 0;
  }
  .phone-code {
    color: $cool-grey;
    margin-left: 4px;
  }
  .ant-select-item-option-content {
    display: flex;
    align-items: center;
  }
}
