@import "../styles/variable.scss";

.background {
    font-family: "Inter";
  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $neutral;
    height: 64px;
    .back-btn {
        display: flex;
        align-self: center;
        padding: 18px 24px;
        color: $neutral-primary;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
    }
  }
  .content {
    display: flex;
    height: calc(100vh - 64px);
    justify-content: center;
    .switch-background {
        height: 48px;
        border-radius: 100px;
        background: $white-smokes;
        padding: 0 4px;
    }
    .switch-component {
        display: flex;
        align-items: center;
        margin-top:24px;
        font-weight: 600;
        line-height: 16px;
        font-size: 12px;
        .switch-item {
            height: 40px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            border-radius: 100px;
            &-index {
                display: flex;
                color: $white;
                background-color: $suva-grey;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                height: 24px;
                width: 24px;
                margin-right: 6px;
            }
            &-title {
                color: $suva-grey;
            }
            &.active {
                background-color: $white;
                .switch-item-index {
                    display: flex;
                    color: $white;
                    background-color: $neutral-primary;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                    height: 24px;
                    width: 24px;
                    margin-right: 6px;
                }
                .switch-item-title {
                    color: $neutral-primary;
                }
            }
        }
    }
}
}
